<!-- REV: got a error here when I ran it... calling id on nil -->

<h1>Submission #<%= @submission.id %></h1>

<h2><%= link_to @submission.title, @submission.url %></h2>
Submitted by: <%= link_to @submission.user.username, @submission.user %>, <%= "#{time_ago_in_words(@submission.created_at)} ago" %>
<br>
<br>
Points: <%= @submission.total_upvotes %>
<br>
<br>
<% if !@submission.user_voted?(current_user) %>
  <%= button_to "Upvote", submission_upvote_url(@submission), class: "btn" %>
<% else %>
  <%= button_to "Remove Upvote", submission_remove_upvote_url(@submission),
      class: "btn btn-danger" %>
<% end %>

<h3>Comments: ( <%= @submission.comments.count %> )</h3>
<br>

<%= form_tag("/comments", :method=> :post) do %>
  <textarea name="comment[body]"></textarea>
  <input type="hidden" name=comment[author_id]
    value="<%= current_user.id %>">
  <input type="hidden" name=comment[submission_id]
    value="<%= @submission.id %>">
  <br>
  <input type="submit" value ="Post Comment" class="btn btn-primary">
<% end %>
<br>
<br>
<% @submission.comments.each do |comment| %>
  <div class="well well-small">
    <%= comment.body %>
    <br>
    <em>Posted by <%= link_to comment.author.username, comment.author %> <%=  "#{time_ago_in_words(@submission.created_at)} ago" %></em> -
    <%= link_to "Reply", new_submission_comment_comment_url(@submission, comment) %>
  </div>

<% end %>



