<h1>Submission #<%= @submission.id %></h1>

<h2><%= link_to @submission.title, @submission.url %></h2>
Submitted by: <%= link_to @submission.user.username, @submission.user %>, <%= "#{time_ago_in_words(@submission.created_at)} ago" %>
<br>
<br>
Points: <%= @submission.total_upvotes %>
<br>
<br>
<% if !@submission.user_voted?(current_user) %>
  <%= button_to "Upvote", submission_upvote_url(@submission), class: "btn" %>
<% else %>
  <%= button_to "Remove Upvote", submission_remove_upvote_url(@submission),
      class: "btn btn-danger" %>
<% end %>

<h3>Comments: ( <%= @submission.comments.count %> )</h3>
<br>
<% @submission.comments.each do |comment| %>
  <%= comment.body %>
  <br>
  <em>Posted by <%= link_to comment.author.username, comment.author %> <%= "#{time_ago_in_words(@submission.created_at)} ago" %></em>

<% end %>

<!-- Insert proper comment layout. Set up ancestors -->


